flows/sendMessagingFileRequestComponent.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>set_requestUrl</name>
        <label>set requestUrl</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>requestUrlVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requestUrlFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_File_Upload_Request</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>requestUrlFormula</name>
        <dataType>String</dataType>
        <expression>&apos;https://czeigler-240621-620-demo.my.site.com/professional/s/messaging-file-upload?recId=&apos; + {!recordId}</expression>
    </formulas>
    <interviewLabel>sendMessagingFileRequestComponent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>sendMessagingFileRequestComponent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Send_File_Upload_Request</name>
        <label>Send File Upload Request</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>requestFile</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AgentWork__c</typeValue>
            </dataTypeMappings>
            <extensionName>scrt:messagingSendComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messagingComponentName</name>
                <value>
                    <stringValue>Request_File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parameters</name>
                <value>
                    <apexValue>[
  {
    &quot;name&quot;: &quot;fileUploadUrl&quot;,
    &quot;textValue&quot;: &quot;{!requestUrlVar}&quot;
  }
]</apexValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>set_requestUrl</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestUrlVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
